alertmanager:
  enabled: false

# k3s hat diese Komponenten nicht als separate Pods
kubeControllerManager:
  enabled: false
kubeEtcd:
  enabled: false
kubeProxy:
  enabled: false
kubeScheduler:
  enabled: false

grafana:
  admin:
    existingSecret: grafana-secrets
    userKey: admin-user
    passwordKey: admin-password
  grafana.ini:
    auth.anonymous:
      enabled: true
      org_role: Viewer
    server:
      root_url: "%(protocol)s://%(domain)s/grafana"
      serve_from_sub_path: true
  defaultDashboardsEnabled: false
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: 'custom'
        orgId: 1
        folder: 'Custom'
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/custom
  dashboardsConfigMaps:
    custom: "grafana-dashboards-custom"
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - ""
    path: /grafana
  persistence:
    enabled: true
    size: 1Gi
    storageClassName: local-path
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

kube-state-metrics:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi

nodeExporter:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 64Mi

prometheus:
  prometheusSpec:
    retention: 24h
    storageSpec: {}
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: "1"
        memory: 2Gi
