apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: n8n
    app.kubernetes.io/part-of: n8n
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/managed-by: kustomize
      app.kubernetes.io/name: n8n
      app.kubernetes.io/part-of: n8n
  template:
    metadata:
      labels:
        app.kubernetes.io/managed-by: kustomize
        app.kubernetes.io/name: n8n
        app.kubernetes.io/part-of: n8n
    spec:
      containers:
        - name: n8n
          image: n8nio/n8n:latest
          env:
            - name: TZ
              value: "Europe/Berlin"
            - name: N8N_HOST
              value: "n8n.pj-home-lab.com"
            - name: N8N_PORT
              value: "5678"
            - name: N8N_PROTOCOL
              value: "https"
            - name: WEBHOOK_URL
              value: "https://n8n.pj-home-lab.com/"
            - name: N8N_SECURE_COOKIE
              value: "false"
            - name: N8N_PUSH_BACKEND
              value: "websocket"
            - name: N8N_EDITOR_BASE_URL
              value: "https://n8n.pj-home-lab.com"
          enableServiceLinks: false
          ports:
            - name: http
              containerPort: 5678
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 4000m
              memory: 2Gi
          volumeMounts:
            - name: data
              mountPath: /home/node/.n8n
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: n8n-data
