image:
  tag: release

controllers:
  main:
    containers:
      main:
        env:
          DB_DATABASE_NAME: immich
          DB_HOSTNAME: immich-postgres
          DB_PORT: "5432"
          IMMICH_MACHINE_LEARNING_URL: http://immich-machine-learning:3003
          REDIS_HOSTNAME: immich-valkey
        envFrom:
          - secretRef:
              name: immich-secrets

immich:
  persistence:
    library:
      existingClaim: immich-library-pvc

server:
  enabled: true
  ingress:
    main:
      enabled: true
      ingressClassName: traefik
      hosts:
        - host: immich.local
          paths:
            - path: /

machine-learning:
  enabled: true
  resources:
    limits:
      cpu: "2"
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 512Mi
  persistence:
    cache:
      enabled: true
      type: persistentVolumeClaim
      size: 10Gi
      storageClass: local-path
      accessMode: ReadWriteOnce

valkey:
  enabled: true
  persistence:
    data:
      enabled: true
      type: persistentVolumeClaim
      size: 1Gi
      storageClass: local-path

postgres:
  enabled: true
  persistence:
    data:
      enabled: true
      type: persistentVolumeClaim
      size: 10Gi
      storageClass: local-path
  envFrom:
    - secretRef:
        name: immich-secrets
